.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  composes: pt-6 pb-20 from global;
}

.primary {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 180px 0;
}