.navigation-block {
  width: 320px;
}

.list {
  display: flex;
  flex-flow: column nowrap;
}

.item {
  display: flex;
  align-items: center;
  height: 64px;
}

.link {
  color: var(--text-secondary);
  text-decoration: none;
  transition: .3s linear;
  composes: text text_type_main-medium from global;
}

.link_active {
  color: var(--text-primary);
}

.link:hover {
  opacity: .8;
  color: var(--text-primary);
}

.description {
  color: var(--text-description);
  composes: text text_type_main-default from global;
}